body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #ff9a9e, #72A0C1); /* Background gradient */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.rocket-photo {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    animation: fly 10s infinite;
    height: 150px;
    width: 150px;
}

@keyframes fly {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 100vh;
    }
}
